body{
    
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
  }

  .navbar{
      position: relative;
      z-index: 1;
  }
  .nav-link{
      position: relative;
      left: 38em;
      margin-left: 5em;
      font-weight: 500;
  }

  .navbar-nav a{
    display: inline;
  }
  
  .navbar-brand{
      margin-left: 3em;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .eye {
    position: relative;
    display: inline-block;
    left: 25em;
    top: 0.5em;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    box-shadow: 0.03em 0.14em rgba(0,0,0,0.1);
    
  }
  
  .eye:after { /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }


  /* CONTENT STARTED */
.about{
    padding-top: 10em;
}
  .about img{
      width: 100%;
      margin-left: -3em;
            
  }
.about .blob{
    position: absolute;
    top: 14em;
    left: 8rem;
    z-index: -1;   
    width: 38%;
}

h2{
    padding-top: 1em;
    font-family: 'Catamaran';
    font-weight: 900;
    font-size: 45px;
}

.about p{
    padding-top: 2em;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
    line-height: 2;
}


/* LOVE SECTION */

.love h2{
    padding: 5em 3em 3em 3em ;
    color: #333;
}

.love h5{
    padding-top: 2em;
   
    margin-left: 4em;
}

.love p{
    margin-left: 5em;
    
}

.photo-heading{
    margin-top: 2em;
}

.travel{
    margin-top: 1em;
}

/* HIRE SECTION */

.hire{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15em;
    padding-bottom: 7em;
}

.hire .container{
    border: #333 5px solid ;
    border-radius: 2em;
    padding: 2em 0 2em 0;
    
    text-align: center;
}


button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button::before,
button::after {
  background: #ff5861;
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 5px;
}

button {
  background: none;
  border: 3px solid #ff5861;
  border-radius: 5px;
  color: #ff5861;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em auto;
  box-shadow: 0 1em 1em rgba(0,0,0,0.1);
  padding: 0.4em 1em;
  position: relative;
  text-transform: uppercase;
}

button:hover {
  color: #fff;
}

.btn-1::after {
  height: 98%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-1:hover:after {
  width: 100%;
  
}

.hire p{
    padding: 2em 0 0.5em 0;
    font-family: 'Montserrat',sans-serif;
    color: #333
}

.arrow{
    position: absolute;
    width: 10%;
    z-index: 1;
    transform: rotate(70deg);
    top: 5em;
    left: 20em;
}

/* FOOTER SECTION */

.footer{
    text-align: center;
    color: #fff;
    padding: 1em;
    background-image: radial-gradient( circle 1018px at 27.6% 65.5%,  rgba(255,88,97,1) 0%, rgba(51,51,51,1) 90% );
  }
  
  .footer p{
    padding-bottom: 0;
    font-family: 'Montserrat' ,sans-serif;
    font-size: 12px;
  }
  
  .footer i{
    margin: 0.5rem;
    margin-bottom: 1rem;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }
  a:hover{
    color: #333;
    text-decoration: none;
  }

  /* JAVASCRIPT REVEAL ANIMATION */

.reveal{
    position: relative ;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1s ease;
    overflow: hidden;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

  .on-spot{
    transform: translateY(150px) ;
    opacity: 0;
    animation: appear 1s normal forwards ease-in-out ;
  }

  @keyframes appear{
      from{
          transform: translateY(150px) ;
          opacity: 0;
      }
      to{
          transform: translateY(0) ;
          opacity: 1;
      }
  }




  /* MOBILE DESIGNING BEGGINING */

  @media only screen and (max-width:425px){

  
    .eye{
      display: none;
      
    }
    .navbar{
      padding: 1.2em;
    }
    .navbar-nav a{
      position: relative;
      left: 7em;
      margin-left:1.5em ;
      
    }
    .navbar-brand{
      position: absolute;
      width: 60%;
      margin-left: 1.5em;
    }
    
    .about .blob{
      width: 0%; 
    }

    .container img{
      margin: 0 auto 0 auto;
    }
    
    .about h2{
      font-size: 35px;
      width: 95%;
      
    }

    /* LOVE SECTION IS HERE */

    .love h2{
      text-align: center;
      padding: 4em 0 3em 0;
     font-size: 40px;
    }

   .mobile-img1 img{
    padding-right: 1em;
   }

   .mobile-img2 img{
    padding-top:1em ;
    padding-right: 1em;
   }
    .photo-heading{
    margin-top: -1em;
    }

    .mobile-img3 img{
      padding-top:1em ;
      padding-right: 2.5em;
     }
     
     .travel{
       margin: 0;
     }


     /* HIRE SECTION HERE */

     .mobilediv{
       padding-top: -1em;
       margin: 0 1em 0 1em;
     }

     .container h2{
       font-size: 30px;
     }

     .arrow{
       position: absolute;
       left: 0;
       top: 6em;
       width: 20%;
     }
  }
