
body{
  text-align: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

.preloader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 49.5%;
  top: 46%;
}

  .preloader-body {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: white;
  top: 0;
}
.pretext{
  font-family: 'Ubuntu';
  position: relative;
  top: 4rem;
  right: 7.8rem;
}

.eye {
  position: relative;
  display: inline-block;
  left: 30em;
  top: 0.5em;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  box-shadow: 0.03em 0.14em rgba(0,0,0,0.1);
  
}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}


/* NAVIGATION */

.navbar{
  position: relative;
  z-index: 2000;
  font-weight: 500;
}
.navbar-brand{
    margin-left: -4rem;
    
}

.nav-link{
    display: flex;
    margin: 0 2rem 0 ;
    color: black;
    
}

.nav-link:hover{
    text-decoration: none;
    color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-nav a{
  display: inline;
}


/* CONTENT STRTED */


.container{
  padding-top: 5.15em;
}
.content{
    padding-top: 25%;
    text-align: center;
}

h1{
    color:#ff5861 ;
    font-family: 'Sacramento', cursive;
    font-size: 120px;
    font-weight: 900;;
}


.tag{
    
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
p{
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 3%;

}

.btn{
    font-family: 'Poppins', sans-serif;
}

.social li{
    list-style: none;
    text-decoration: none;
    margin-top: 25px;
}

ul{
    position: absolute;
    top: 40%;
    right: 20px;
   

}


button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button::before,
button::after {
  background: #ff5861;
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 5px;
}

button {
  background: none;
  border: 3px solid #ff5861;
  border-radius: 5px;
  color: #ff5861;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em auto;
  box-shadow: 0 1em 1em rgba(0,0,0,0.1);
  padding: 0.4em 1em;
  position: relative;
  text-transform: uppercase;
}

button:hover {
  color: #fff;
}

.btn-1::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-1:hover:after {
  width: 100%;
  
}

.on-spot{
  transform: translateY(150px) ;
  opacity: 0;
  animation: appear 1s normal forwards ease-in-out  ;
  animation-delay: 2.5s;
}

@keyframes appear{
    from{
        transform: translateY(150px) ;
        opacity: 0;
    }
    to{
        transform: translateY(0) ;
        opacity: 1;
    }
}

.blob{
  position: absolute;
  top: 4em;
  left: 42rem;
  z-index: -1;   
  width: 47%;
  transform: rotate(40deg);
}

.social{
  position: absolute;
  z-index: -1;
}

/* HIRE SECTION */

.Hire h2{
  color: #333;
  padding-top: 3em;
  padding-bottom: 0.5em;
}

.Hire p{
  padding-top: 1.5em;
  font-family: 'Montserrat' , sans-serif;
}

/* SKILLS SECTION */

.front .container{
  
  background-color: #fff;
  border-bottom-right-radius: 12rem;
  border-top-right-radius: 12rem;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
  padding-bottom: 7rem  ;
 
  margin-top: 7em;
  -webkit-box-shadow: 0 0 1em 1em  rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 1em 1em  rgba(0,0,0,.1);
   box-shadow: 0 0 1em 1em rgba(0,0,0,0.1));
  
}


.skill1{
  margin-top: 1rem;
  margin-left: 10rem;
  width: 25rem;
  transition: 0.5s;
}

.Books{
  width: 3em;
}

.b1{
 position: relative;
 top: 5.5em;
 transition: 0.5s;
 box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}
.b2{
  position: relative;
 top: 1.7em;
 transition: 0.5s;
 box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}
.b3{
  position: relative;
 top: 5.1em;
 transition: 0.5s;
 box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}
.b4{
  position: relative;
 top: 3.9em;
 transition: 0.5s;
 box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}
.b5{
  transform: rotate(-15deg);
  position: relative;
  left: 0.4em;
  transition: 0.5s;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.b1:hover{
  transform: translateY(-12%);
  
}
.b2:hover{
  transform: translateY(-12%)
}
.b3:hover{
  transform: translateY(-12%)
}
.b4:hover{
  transform: translateY(-12%)
}
.b5:hover{
  transform: rotate(0deg);
 
}

.back-Books{
  width: 2.4rem;
}



.f1{
  position: relative ;
  width: 3em;
  top: 2.6em;
  transition: 0.5s;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f2{
  position: relative ;
  width: 2em;
  top: 3.23em;
  transition: 0.5s;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f3{
  position: relative ;
  width: 2.2em;
  top:2.8em;
  transition: 0.5s;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f4{
  position: relative ;
  width: 4em;
  top: 1.3em;
  transition: 0.5s;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f5{
  position: relative ;
  width: 3em;
  top: 2.5em;
  transition: 0.5s;
  z-index: 1000;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f6{
  position: relative ;
  width: 2em;
 transition: 0.5s;
 z-index: 1000;
 box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f8{
  transform: rotate(-20deg);
  position: relative;
  width: 3em;
  top: 3.3em;
  left: 1.4em;
  transition: 0.5s;
  z-index: 1000;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f7{
  position: relative;
  width: 1.5em;
  top: 2.5em;
  left: 1.01em;
  transform: rotate(-20deg);
  transition: 0.5s;
  z-index: 1000;
  box-shadow:0 0 2em 1em rgba(0,0,0,0.1);
}

.f1:hover{
  transform: translateY(-12%);
}

.f2:hover{
  transform: translateY(-12%);
}

.f3:hover{
  transform: translateY(-12%);
}

.f4:hover{
  transform: translateY(-12%);
}

.f5:hover{
  transform: translateY(-12%);
}

.f6:hover{
  transform: translateY(-12%);
}
 
.f7:hover{
  transform: translate(-12%) ;
  position: relative;
  left: 2em;
}

.f8:hover{
transform: translate(12%);
position: relative;
left: -.5em;
} 


.shelf{
  width: 25em;
 
}
.skill1:hover{
  transform: scale(1.05);
}

h2{
  text-align: center;
  font-family: 'Catamaran',sans-serif;
  color: #ff5861;
  font-weight: 700;
  font-size: 50px;
  padding: 2rem 0 5rem 0 ;
 
}

.back .container{
  border-bottom-right-radius: 12rem;
  border-top-right-radius: 12rem;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
  padding-bottom: 7rem;
  margin-top: 7em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0 0 1em 1em  rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 1em 1em  rgba(0,0,0,.1);
    box-shadow: 0 0 1em 1em  rgba(0,0,0,.1);
}

.container h4{
  margin-left:15rem ;
  padding-top: 7rem;
  width: 50rem;
  
  color: #444;
  font-family: 'Montserrat',sans-serif;
}

.front h1{
  padding-top: 2em;
  font-family: 'Catamaran',sans-serif;
  font-size: 70px;
  color: #333;
  font-weight: 900;
}
/* SERVICES SECTION */


.services{
padding-top: 5rem;
}

.card{
  border-radius: 2em;
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.1);
}
.card img{
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
  left: 0.03em;
}
.services h2{
  color: #000;
  text-align: left;
  padding-right: 0em;
}

h3{
  color: #ff5861;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.service-text{
  color: #ff5861;
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.8;
}

.card-text{
  width: 100%;
  position: relative;
  right: 3.5em;
}

.card1{
  margin-left: 2em;
}


/* CONTACT SECTION */

.contact h2{
  padding-top: 10rem;
  text-align: center;
  padding-bottom: 0;
}

.contact .fas{

}
.contact p{
  padding-bottom: 0;
}
.contact-text{
  color: #ff5861;
}

.btn-2{
  padding: .5rem ;
}

.btn-2::after {
  
  height: 93%;
  left: 0;
  top: 0.1rem;
  width: 0;
}



/* FOOTER SECTION */

.footer{
  color: #fff;
  padding: 1em;
  background-image: radial-gradient( circle 1018px at 27.6% 65.5%,  rgba(255,88,97,1) 0%, rgba(51,51,51,1) 90% );
}

.footer p{
  padding-bottom: 0;
  font-family: 'Montserrat' ,sans-serif;
  font-size: 12px;
}

.footer i{
  margin: 0.5rem;
  margin-bottom: 1rem;
}

a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #333;
  text-decoration: none;
}



/* JAVASCRIPT REVEAL ANIMATION */

.reveal{
  position: relative ;
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s ease;
  overflow: hidden;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}


/* MOBILE DESIGN STARTING FROM HERE */

@media only screen and (max-width:480px) {

  .eye{
    display: none;
  }

  .navbar-brand{
    width: 60%;
  }
  
  h1{
    font-size: 72px;
    
  }

  .blob{
    width: 0;
  }

  p{
    width: 70%;
    margin-left: 4em;
  }

  .content button{
    position: absolute;
    top: 45em;
    left: 7em;
  }

  .tag{
    font-size: 15px;
  }

  /* HIRE SECTION HERE */

  .Hire h2{
    padding-top: 7em;
    font-size: 35px;
    width: 85%;
    margin-left: 1em;
  }

  .Hire p{
    width: 75%;
    margin-left: 3.5em;
  }


  /* SKILLS SECTION HERE */

  .front h1{
    font-size: 45px;
  }

  .front-img{
    position: relative;
    bottom: 4em;
  }
  .front .container{
    border-radius: 2em;
  padding-bottom: 0rem  ;
  
  }
  .container h2{
    font-size: 40px;
    padding-top: 0;
  }
  .Books{
    width: 7%; 
  }

  .shelf{
    width: 55%;
    position: relative;
    top: 7em;
    right: 4em;
  }
  .mobile{
    padding: 0 2em 0 2em ;
    height: ;
  }

  .b1{
    position: relative;
    top:4em;
    left: 5.5em;
  }
  .b2{
    position: relative;
    top:2em;
    left: 5.5em;
  }

  .b3{
    position: relative;
    top:3.6em;
    left: 5.5em;
  }

  .b4{
    position: relative;
    top:3.2em;
    left: 5.5em;
  }

  .b5{
    position: relative;
    top:1.2em;
    left: 5.5em;
  }

  .front h4{
    margin-left: 1em;
    font-size: 15px;
    width: 90%;
    padding-bottom: 2em;
  }


  .back .container{
    border-radius: 2em;
  }

  .back .shelf{
    width: 65%;
    position: absolute;
    top: 28em;
  }

  .f1{
    position: relative;
    width: 1.5em;
    top:1.45em ;
    left: 0.1em
  }

  .f2{
    width: 1.5em;
    position: relative;
    top:0.5em ;
    left: 0.1em
  }
  .f3{
    position: relative;
    top: 1em;
    width: 1.5em;
  }
  .f4{
    position: relative;
    top: 1.89em;
    width: 1.5em;
  }
  .f5{
    position: relative;
    top: 1.5em;
    width: 1.5em;
  }
  .f6{
    position: relative;
    top: -2em;
    width: 1.5em;
  }
  .f7{
    position: relative;
    top: 0.5em;
    left: -0.2em;
    width: 1em;
  }
  .f8{
    position: relative;
    top: 2em;
    left:0.5em;
    width: 1.5em;
  }
  .mobile-img{
    position: relative;
    top: 5em;
    right: 1em;
    padding-bottom: 0;
  }

  .back h4{

    margin-left: 1.5em;
    width: 90%;
    font-size: 15px;
    padding-bottom: 0;
  }


  /* SERVICES STRT HERE */

  .card1{
    position: relative;
    left: 1.5em;
  }
  .mobile-card{
    padding-bottom: 5em;
  }

  .card2{
    position: relative;
    margin-left: 3.5em;
  }

  /* HIRING SECTION STARTS HERE */

  .contact h2{
    font-size: 45px;
  }

  .navbar-nav a{
    display: inline;
   }

  .nav-link{
    margin-left: 1em;
    margin-right: 0;
  }

}
